[submodule "Silicon/RISC-V/ProcessorPkg/Library/RiscVOpensbiLib/opensbi"]
	path = Silicon/RISC-V/ProcessorPkg/Library/RiscVOpensbiLib/opensbi
	url = https://github.com/vlsunil/opensbi.git
	branch = acpi_v1_aia_v1
